/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  h1 {
    @apply text-3xl font-inter;
  }
  h2 {
    @apply text-2xl font-inter;
  }
  h3{
    @apply font-messinasans text-lg text-white sm:text-xl;
  }
  p {
    @apply font-messinasans text-base text-white sm:text-lg;
  }
  li {
    @apply font-messinasans text-base text-gray-300 pb-1;
  }
}

.nav-link{
  @apply font-sfmono hidden sm:text-xs lg:text-sm md:block transition duration-75 text-white hover:text-emerald-light
}

.link{
  @apply transition duration-75 text-emerald-light hover:text-emerald-dark hover:bg-emerald-light
}

.footer-link{
  @apply font-sfmono text-xs lg:text-sm transition duration-75 text-white hover:text-emerald-light
}

.hero-header{
  @apply my-0 text-3xl sm:text-4xl sm:my-1 lg:text-5xl lg:my-2 text-white font-inter
}

.section-header{
  @apply text-xl sm:text-xl lg:text-xl text-white font-sfmono
}

.date{
  @apply font-sfmono text-sm text-gray-300 sm:text-base;
}

.outline-button{
  @apply text-sm transition duration-300 ease-in-out hover:bg-emerald hover:border-transparent hover:shadow-green
  text-white py-3 px-6 border border-white rounded-lg sm:text-lg font-sfmono 
}

.outline-button-sm{
  @apply text-xs transition duration-300 ease-in-out hover:bg-emerald hover:border-transparent hover:shadow-green
  text-white py-2 px-4 border border-white rounded-lg lg:text-sm font-sfmono 
}

.hover-border{
  @apply p-6 transition duration-150 border-2 rounded-lg border-transparent hover:border-emerald-light hover:bg-emerald-light hover:bg-opacity-10 -mt-6 mb-0
}

.tag-wrapper{
  @apply py-0.5 px-2 rounded-full bg-emerald mr-2 mb-2
}

.tag-outline-wrapper{
  @apply transform duration-150 py-0.5 px-2 rounded-full border bg-opacity-0 bg-emerald border-emerald mr-2 mb-2 hover:bg-opacity-30
}

@media only screen and (min-width: 768px) {
  .experience-grid{
    display: grid;
    grid-template-columns: 13.5em 1fr;
  }  
}

@media only screen and (min-width: 768px) {
  .project-grid{
    display: grid;
    grid-template-columns: 5fr 3fr;
  }  
}

@media only screen and (min-width: 768px) {
  .education-grid{
    display: grid;
    grid-template-columns: 1fr 3fr;
  }  
}

@media only screen and (min-width: 768px) {
  .education-grid-alt{
    display: grid;
    grid-template-columns: 3fr 1fr;
  }  
}

@media only screen and (min-width: 768px) {
  .skills-grid{
    display: grid;
    grid-template-columns: 13.5em 1fr 1fr;
  }  
}

@font-face {
  font-family: 'MessinaSans';
  font-weight: 400;
  src: url('./fonts/MessinaSans/MessinaSans-Regular.ttf')
}

@font-face {
  font-family: 'MessinaSans';
  font-weight: 700;
  src: url('./fonts/MessinaSans/MessinaSans-SemiBold.ttf')
}

@font-face {
  font-family: 'MessinaSans';
  font-weight: 700;
  src: url('./fonts/MessinaSans/MessinaSans-Black.ttf')
}

@font-face {
  font-family: 'SFMono';
  font-weight: 400;
  src: url('./fonts/SFMono/SFMonoRegular.otf')
}

@font-face {
  font-family: 'SFMono';
  font-weight: 700;
  src: url('./fonts/SFMono/SFMonoBold.otf')
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: url('./fonts/Inter/Inter-Regular.ttf')
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  src: url('./fonts/Inter/Inter-SemiBold.ttf')
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  src: url('./fonts/Inter/Inter-Bold.ttf')
}

/* width */
::-webkit-scrollbar {
  @apply w-4
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #edf2f7;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7396D3;
  border-radius: 100vh;
  border: 3px solid #edf2f7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-blue
}